

#bgwrap {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgb(255,255,255);
}

#bgimg {
	width: 100%;
	height: 670px;
}

#pgwrap {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

#headwrap {
	width: 100%;
	height: 200px;
}

#mainwrap {
	width: 100%;
}

#footwrap {
	width: 100%;
	height: 200px;
}
